
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border:0 none;
  font-family:inherit;
  font-size:14px;
  font-style:inherit;
  font-weight:inherit;
  margin:0;
  outline:0 none;
  padding:0;
  vertical-align:baseline;
}

a { font-weight:bold; }
a:link { text-decoration: none; color:white; }
a:visited { text-decoration: none; color:white;}
a:hover { text-decoration: none; color:white;}
a:active { text-decoration: none; color:white;}

body {
  font: 62.5%/1em "Lucida Grande",Lucida,Verdana,sans-serif;
  background-color: #FCF2E4;
}

#wrap {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  width: 900px;
  height: 152px;
  position: relative;
}

#search {
  float: right;
}

/**************************
 * login stuff
 **************************/
#login_bg {
  background-color: #5E100C;
  height: 20px;
  float: both;
}
#login {
  position: absolute;
  top: -15px;
  color: white;
  right: 0px;
}

/***************************
 * cross site nav
 ***************************/
#cross_site {
  position: absolute;
  right: 0px;
  background-color: #5e100c;
}
#cross_site


#content {
  margin: 5px;
}

#footer {
  height: 40px;

  /* debug */
  border: 1px solid blue;
}

#contact {
  float: right;
}

#contact td {
  padding: 5px;
  font-size: 75%;
  vertical-align: center;
}

/* -------------------------------------------------- */
/* navigation */
/* -------------------------------------------------- */
#globalnav {
    clear:left;
    float:left;
    width:900px;
    height:30px;
    bottom:0px;
    position: absolute;
    background:#80C8FF url(globalnav.gif) 0 25% repeat;
    border-bottom:1px solid #49A9FF;
    overflow:hidden;
}
#globalnav ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
#globalnav ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
    width:149px;
}
#globalnav ul li.first {
    border-left:1px solid #49A9FF;
}
#globalnav ul li.last {
    border-right:1px solid #99D8FF;
}
#globalnav ul li a {
    display:block;
    margin:0;
    padding:.4em .8em;
    color:#000;
    text-decoration:none;
    border-left:1px solid #99D8FF;
    border-right:1px solid #49A9FF;
    line-height:1.3em;
}
#globalnav ul li.active a {
    background:url(globalnav.gif) 0 75% repeat;
    font-weight:bold;
}
#globalnav ul li a:hover {
    background:url(globalnav.gif) 0 75% repeat;
}
#globalnav ul li a span {
    display:block;
}


