
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border:0 none;
  font-family:inherit;
  font-size:14px;
  font-style:inherit;
  font-weight:inherit;
  margin:0;
  outline:0 none;
  padding:0;
  vertical-align:center;
}

a { font-weight:bold; }
a:link { text-decoration: none; color:white; }
a:visited { text-decoration: none; color:white;}
a:hover { text-decoration: none; color:white;}
a:active { text-decoration: none; color:white;}

body {
  font: 62.5%/1em "Lucida Grande",Lucida,Verdana,sans-serif;
  background-color: #FCF2E4;
}

#wrap {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  width: 900px;
  height: 152px;
  position: relative;
}

#search {
  float: right;
}

/**************************
 * login stuff
 **************************/
#login_bg {
  background-color: #5E100C;
  height: 20px;
  float: both;
}
#login {
  position: absolute;
  top: -15px;
  color: white;
  right: 0px;
}

/***************************
 * cross site nav
 ***************************/
#cross_site {
  float: right;
  background-color: #5e100c;
  padding: 7px;
}

#content {
  margin: 5px;
}

#footer {
  height: 40px;

  /* debug */
  border: 1px solid blue;
}

#contact {
  float: right;
}

#contact td {
  padding: 5px;
  font-size: 75%;
  vertical-align: center;
}

/* -------------------------------------------------- */
/* navigation */
/* -------------------------------------------------- */
#globalnav { width: 100%; height: 38px; margin: 60px auto 10px; position: relative; }
#globalnav li { display: inline; }
#globalnav li a { float: left; width: 124px; height: 0; padding-top: 38px; overflow: hidden; }
/*#globalnav li a,*/
/*#globalnav ul { background-image: url(/media/globalnav.png); _background-image: url(/media/globalnav.png); background-repeat: no-repeat; }*/

/* BUTTONS */
/*#globalnav li#gn-home a { background-position: 0 0; }
#globalnav li#gn-about a { background-position: -128px 0; }
#globalnav li#gn-admissions a { background-position: -257px 0; }
#globalnav li#gn-classes a { background-position: -375px 0; }
#globalnav li#gn-faculty a { background-position: -512px 0; }
#globalnav li#gn-programs a { background-position: -640px 0; }
#globalnav li#gn-parents a { background-position: -768px 0; }
*/

/* OVER STATES */
/*#globalnav li#gn-home a:hover { background-position: 0 -38px; }
#globalnav li#gn-about a:hover { background-position: -128px -38px; }
#globalnav li#gn-admissions a:hover { background-position: -257px -38px; }
#globalnav li#gn-classes a:hover { background-position: -375px -38px; }
#globalnav li#gn-faculty a:hover { background-position: -512px -38px; }
#globalnav li#gn-programs a:hover { background-position: -640px -38px; }
#globalnav li#gn-parents a:hover { background-position: -768px -38px; }
*/

/* PRESSED STAT */
/*#globalnav li#gn-home a:active { background-position: 0 -76px; }
#globalnav li#gn-about a:active { background-position: -128px -76px; }
#globalnav li#gn-admissions a:active { background-position: -257px -76px; }
#globalnav li#gn-classes a:active { background-position: -375px -76px; }
#globalnav li#gn-faculty a:active { background-position: -512px -76px; }
#globalnav li#gn-programs a:active { background-position: -640px -76px; }
#globalnav li#gn-parents a:active { background-position: -768px -76px; }
*/

/* ON STATES */
/*#globalnav.home li#gn-home a:hover { background-position: 0 0; cursor: default; }
#globalnav.about li#gn-about a { background-position: -128px -76px !important; }
#globalnav.admissions li#gn-admissions a { background-position: -257px -76px !important; }
#globalnav.classes li#gn-classes a { background-position: -375px -76px !important; }
#globalnav.faculty li#gn-faculty a { background-position: -512px -76px !important; }
#globalnav.programs li#gn-programs a { background-position: -640px -76px !important; }
#globalnav.parents li#gn-parents a { background-position: -768px -76px !important; }
*/



