<!-- Created by rjernst with Vim 6 -->
<html>

<head>
<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>

</head>
  <body>
<h2>Add Article</h2>
<form action="/data/blog/articles" method="post">
  Title: <input type="text" name="title" /> <br/>
  Body: <textarea name="body" cols="40" rows="5"></textarea> <br/>
  Tags: <input type="text" name="tags" /> <br/>
  <input type="submit" value="Post"/>
</form>

<table id="result"></table>

<script>
function delete_article(id) {
    alert('deleting article ' + id);
    $.ajax({
        url: '/data/blog/articles?id=' + id,
        type: 'DELETE',
        success: function(data) {
            $('#article-' + id).remove();
        },
    });
}

$.getJSON('/data/blog/articles', function(data) {
  var buf = '<tr><th>Title</th><th>Delete<th></tr>';
  var i;
  for (i = 0; i < data.length; i++) {
    var a = data[i];
    row = '<tr id="article-' + a.id + '">';
    row += '<td>' + a.title + '</td>';
    row += '<td><a href="javascript:delete_article(' + a.id + ');">delete</a></td>';
    row += '</tr>';
    buf += row;
  }
  $('#result').html(buf);
});

</script>
    
  </body>
</html>
