
a { 
  font-weight:bold; 
  text-decoration: none; 
}

body {
  font-family:Verdana;
  font-size:14px;
  background-color: #FCF2E4;
}

h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-weight: bold; }
h1, h2, h3, h4 {
  margin: 5px 0px;
}


#wrap {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  width: 900px;
  height: 152px;
  position: relative;
}

#logo {
  height: 70px;
}

#search {
  float: right;
}

/**************************
 * login stuff
 **************************/
#login_bg {
  background-color: #630b08;
  height: 20px;
  float: both;
}
#login {
  position: absolute;
  top: -15px;
  color: white;
  right: 0px;
  font-size: 11px;
}
#header a {
  color: white;
}

/***************************
 * cross site nav
 ***************************/
#cross_site {
  float: right;
  background-color: #630b08;
  padding: 10px;
  width: 250px;
  height: 25px;
  line-height: 25px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
#cross_site img {
  vertical-align: middle;
  float: right;
  padding: 0px 3px;
}
#cross_site p {
  display: inline;
  border-right-style: dotted;
  border-right-color: gray;
  border-right-width: 2px;
  padding: 0px 10px;
}

#content {
  margin: 5px;
}

#footer {
  height: 40px;

  /* debug */
  border: 1px solid blue;
}

#contact {
  float: right;
}

#contact td {
  padding: 5px;
  font-size: 75%;
  vertical-align: center;
}

/* -------------------------------------------------- */
/* navigation */
/* -------------------------------------------------- */

#globalnav { 
  height: 38px; 
  line-height: 38px; 
  position: relative; 
/*  background-color: #630b08;*/
background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.06, rgb(59,6,6)),
    color-stop(0.1, rgb(64,5,5)),
    color-stop(0.58, rgb(99,11,8))
);
background: -moz-linear-gradient(
    center bottom,
    rgb(59,6,6) 6%,
    rgb(64,5,5) 10%,
    rgb(99,11,8) 58%
);
  /*padding:0 10px;*/
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

#globalnav ul,
#globalnav ul li {
  margin:0;
  padding:0;
  list-style:none;
}
#globalnav ul li {
  float:left;
  display:block;
  width: 125px;
  text-align: center;
/*  border-left-style: solid;
  border-left-color: gray;
  border-left-width: 2px;
}
#globalnav ul li.first {
  border: none;*/
}

#globalnav ul li a:link,
#globalnav ul li a:visited {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
#globalnav ul li a:hover {
  color: gray;
}

#globalnav ul li ul li{
  float:none;
  display:block;
}
#globalnav ul li ul li a:link,
#globalnav ul li ul li a:visited {
  color:#444;
  font-size:11px;
  font-weight:bold;
  text-decoration:none;
  padding:0 10px;
  clear:both;
  border-bottom:solid 1px #DEDEDE;
}
#globalnav ul li ul li a:hover {
  color:#3B5998;
  background:#EBEFF7;
}

.submenu {
  position: absolute;
  width: 125px; 
  background: #FFF;
  padding: 10px;
  border: solid 1px #2E4B88;
  border-top: none;
  display: none;
  line-height: 26px;
  z-index: 1000;
}


.left_bar {
  float: left;
  width: 250px;
}

.clear {
  clear: both;
}

